#f1{
    font-family: Arial;
    text-align: center;
    height: 35rem;
    width: 45rem;
    border-color: black;
    border-style: dashed;
    
}   
#f2{
    text-align: center;
    width: 0;
    margin-left: 6rem;
    border-color: black;
    border-radius: 2px;
    border-style:double
    
    
}
#f3{
    border-color: red;
    text-align: center;
    width: 20rem;
    margin-left: 15rem;
    margin-bottom: 20 rem;
    border-top-style: dashed;
}
#prova{
    margin-left: 40rem;
}
#f4{
    margin-left: 7rem;
    width: 30rem;
    border-color: black;
    border-style: double;
}
h3{
    font-size: large;
    margin-left: 18rem;
    
}
#f5{
    
    border-color: yellow;
    width: 15rem;
    height: 5rem;
    
}
#f6{
    border-style: double;
    border-color: black;
    margin-top: 1rem;
    width: 30rem;
    margin-left: 7rem;
}